@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.helvetica-bold {
  font-family: var(--font-helvetica-bold);
}

.helvetica-regular {
  font-family: var(--font-helvetica-regular);
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.inter-900 {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}
.inter-700 {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.inter-500 {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.inter-400 {
  font-family: "Inter", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.ProseMirror p.is-editor-empty:first-child::before {
  color: #666;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.prose-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

/* Optional: Style the placeholder text differently when editor is focused */
.ProseMirror:focus p.is-editor-empty:first-child::before {
  color: #777;
}